My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $node[\"Telegram Trigger\"].json.message.photo.reverse()[0].file_id }}",
        "additionalFields": {
          "mimeType": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        -672
      ],
      "id": "bf98b38a-d174-488d-b3d2-f8f3fc19bce8",
      "name": "Get a file",
      "webhookId": "bda26f43-06ca-4e15-93f1-59da4ac283e7",
      "credentials": {
        "telegramApi": {
          "id": "KIwLgdHE3nGgqYQT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "你现在是一名资深的个人财务审计，具备极强的行业语境理解能力。请识别收据图片，结合商家经营性质（Vendor Nature）分析消费内容，并根据以下‘分类字典’和‘业务逻辑’返回 JSON 数据。\n1. 分类字典 (Category > Sub-category) 请严格按此层级归类，不得自行发明：\n•\tFixed expenses: [Maintenance fee, Mobile plan, Subscription, Utilities, Parking lot, Internet, Life insurance, Rental, Household, Housing Loan]\n•\tF&B: [Meals, Groceries, Drinks, Dessert]\n•\tTransport: [Fuel, Public transport, Toll, Parking, Maintenance, Road tax, Vehicle license]\n•\tDaily Needs: [Toiletries, Personal care, Pharmacy]\n•\tLifestyle: [Image care, clothing]\n•\tShopping: [General Merchandise] \n•\tEntertainment: [Movies, Gaming, Leisure, KTV]\n•\tHealth & Wellness: [Gym, Supplements, Sports, Wellness]\n•\tLearning: [Courses, Books, Software]\n•\tTravel: [Transport, Meals, Accommodation, Entertainment, Ticket, Souvenir, Shopping]\n•\tSocial giving: [Gifts, Angpau, Donation, Other]\n•\tContingencies: [Fine, Late fee]\n•\tOther\n2. 字段提取与校准规则\n•\tDate: 格式为 YYYY-MM-DD。默认使用当前年份。\n•\tVendor: 商家店名，首字母大写。一般后缀sdn bhd, enterprise.\n•\tCur_Out: 币种缩写，默认为 MYR。\n•\tAmt_Out: 必须为纯数字 (Number)。提取最终应付总额（Total Payable），排除 Rounding。\n•\tType: 固定输出为 \"Expense\"。\n3. 分类判定逻辑 (优先顺序)\n•\t判定综合性商家 (Weight-based Logic)： 若商家为 Lotus's, AEON, 99 Speedmart, Big Pharmacy, Watsons, Guardian 等：\no\t权重优先： 识别清单中数量最多的项目类型进行归类。\no\t示例： 买 Chicken, Broccoli (Groceries) 加一个 Shampoo (Toiletries) -> 归类为 F&B > Groceries。\no\t示例： 买 Tissue, Detergent (Daily Needs) 加几样零食 -> 归类为 Daily Needs > Toiletries。\n•\t判定行业属性与语境：\no\t神料/佛具店： 归类为 Social Giving > Other。\no\t药妆店 (Watsons/Pharmacy)： 优先检查明细。若护肤品居多归类为 Daily Needs > Personal care；若补剂居多归类为 Health & Wellness > Supplements；若药品居多归类为 Daily Needs > Pharmacy。\n•\t判定 F&B： 熟食/正餐归类为 Meals；生鲜/食材归类为 Groceries；仅有饮料/甜点归类为 Drinks 或 Dessert。\n•\t判定Lifestyle: salon, aesthetic, facial, manicure, pedicure\n•\t判定 Shopping: soft toy, keychain\n4. 深度备注逻辑 (Remark)\n•\t语境校准： 备注必须符合商家经营性质，严禁机械直译。\no\t神料店： Paper/Apparel/Shoes 统一备注为“购买了祭祀用品组合（含纸扎衣物、冥钞及祭品）”。\n•\t合并同类项： 多项物品用“购买了...”概括，禁止重复罗列（如：严禁写“鸡、鸡、葱”，应写“鱼、肉及生鲜食材”）。\n•\t餐饮： 描述主要菜品。\n5. 纯净输出要求 格式：只输出合法的 JSON 字符串，禁止包含 ```json 标签，禁止 Markdown，禁止解释文字。 { \"Date\": \"YYYY-MM-DD\", \"Vendor\": \"String\", \"Cur_Out\": \"MYR\", \"Amt_Out\": 0.00, \"Type\": \"Expense\", \"Category\": \"String\", \"Sub_category\": \"String\", \"Remark\": \"String\" }",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        976,
        -672
      ],
      "id": "7187e4f5-7539-4f72-976b-91b744d122a7",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "wj6EgVVVIJTOl5cL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 获取 Gemini 的原始回复\nconst rawText = $json.content.parts[0].text;\n// 去掉可能存在的 ```json 标记并转为真正的 JSON 对象\nconst cleanData = JSON.parse(rawText.replace(/```json|```/g, \"\"));\nreturn cleanData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -576
      ],
      "id": "2854c4fe-9fcf-403a-a442-76e0970fac65",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        -576
      ],
      "id": "8e11d4e2-97dd-4ce3-9aea-469b21abb97a",
      "name": "Telegram Trigger",
      "webhookId": "6fecdaa6-cf80-4f6c-a92e-d1621831568c",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "KIwLgdHE3nGgqYQT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18dskzhvuAoQ_FTO5FZH-9fhFV-hlRI8MFwwgXJSUZsw",
          "mode": "list",
          "cachedResultName": "gudanglui",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18dskzhvuAoQ_FTO5FZH-9fhFV-hlRI8MFwwgXJSUZsw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18dskzhvuAoQ_FTO5FZH-9fhFV-hlRI8MFwwgXJSUZsw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Code in JavaScript').item.json.Date }}",
            "Vendor": "={{ $('Code in JavaScript').item.json.Vendor }}",
            "Cur_In": "=",
            "Amt_In": "=",
            "Cur_Out": "={{ $('Code in JavaScript').item.json.Cur_Out }}",
            "Amt_Out": "={{ $('Code in JavaScript').item.json.Amt_Out }}",
            "Category": "={{ $('Code in JavaScript').item.json.Category }}",
            "Remark": "={{ $('Code in JavaScript').item.json.Remark }}",
            "Income/Expense/Transfer": "Expense",
            "Sub-category": "={{ $('Code in JavaScript').item.json.Sub_category }}",
            "Link": "={{ $('Upload file').item.json.webViewLink }}",
            "Log": "={{ DateTime.fromSeconds($('Telegram Trigger').item.json.message.date).setZone('Asia/Kuala_Lumpur').toFormat('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Log",
              "displayName": "Log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cur_In",
              "displayName": "Cur_In",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amt_In",
              "displayName": "Amt_In",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cur_Out",
              "displayName": "Cur_Out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amt_Out",
              "displayName": "Amt_Out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Income/Expense/Transfer",
              "displayName": "Income/Expense/Transfer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sub-category",
              "displayName": "Sub-category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remark",
              "displayName": "Remark",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "To",
              "displayName": "To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        -576
      ],
      "id": "267e9609-4e7a-4812-88b5-26c220f565be",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CVOiFV0HeNRXyKCd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ 账单已入库\n\n📅 日期：{{ $json.Date }}\n🏪 商家：{{ $json.Vendor }}\n💰 金额：{{ $json.Cur_Out }} {{ $json.Amt_Out }}\n\n📂 分类：{{ $json.Category }} > {{ $json['Sub-category'] }}\n📝 备注：{{ $json.Remark }}\n\n💡 提示：如有误，请前往 Google Sheet 手动修改。",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        -576
      ],
      "id": "770767ff-f111-4db3-9ca1-301bc01ab04c",
      "name": "Send a text message1",
      "webhookId": "45316f72-aa7c-4171-b470-9e7bf13dff6a",
      "credentials": {
        "telegramApi": {
          "id": "KIwLgdHE3nGgqYQT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## I'm a note \n**Double click** to edit me. [Guide]\nget a file > analyze an image\nrefine to\nextract from file > generate text\nanalyze document\n\n看日志，问题很清楚：\nSkipping execution data push: unable to resolve user for redaction\n这是 n8n 在尝试推送执行结果到前端时，找不到对应的用户 session，所以跳过了。导致前端收不到结果，显示断连。\n\n根本原因：HF Spaces 的 session 问题\n你之前遇到的\"没反应\"很可能是这样的流程：\n\n页面空闲一段时间 → HF Spaces 让 container sleep\n你重新打开页面 → 前端重新连接，但 session token 已经失效\n执行 workflow → n8n 找不到有效 user session → 跳过推送 → 前端看起来没反应或断连\n\n\n为什么后来又可以跑了？\n重新整个刷新页面或者 Space 重启后，session 重新建立，就恢复正常了。\n\n治本方法\n遇到这个情况，以后试试：\n\n强制刷新页面（Ctrl+Shift+R）再 execute，不要在页面放太久没动\nHF Spaces 升级 Always On 防止 sleep\n长远来说考虑把 n8n 迁到更稳定的环境（Railway、Render、VPS），HF Spaces 本来是给 ML demo 用的，跑 n8n 这种需要持续运行的服务会一直有这类问题\n\nPublish 后的问题\n要看你的 workflow 是怎么触发的：\n\nWebhook 触发 → 有问题。HF Spaces sleep 后 webhook 不会自动唤醒，外部请求打过来会失败或超时\nSchedule/Cron 触发 → 有问题。Space sleep 了就不会在预定时间执行\n手动触发 → 影响较小，每次用前刷新页面基本够用",
        "height": 288,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        -1072
      ],
      "id": "2ba1f382-0cd3-4a8c-bf71-43742f1272e3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Loading... ⏳",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        -576
      ],
      "id": "2d39d9c6-7bd6-41ce-a212-3e6a3a1647ae",
      "name": "send message if receive a message",
      "webhookId": "eff37cda-e930-4977-a240-68bb853017fd",
      "credentials": {
        "telegramApi": {
          "id": "KIwLgdHE3nGgqYQT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ba73a02e-5386-4cc4-a9f2-889bde86f7f9",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.photo }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        -576
      ],
      "id": "e70ba1ec-46c8-488e-a95a-06182facb168",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $node[\"Telegram Trigger\"].json.message.document.file_id }}",
        "additionalFields": {
          "mimeType": "application/pdf"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        -480
      ],
      "id": "def74cd3-ebdb-4876-bd7f-c091cef4b968",
      "name": "Get a file1",
      "webhookId": "cb3e7724-34ea-4128-8446-5bbc3a184520",
      "credentials": {
        "telegramApi": {
          "id": "KIwLgdHE3nGgqYQT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "你现在是一名资深的个人财务审计，具备极强的行业语境理解能力。请识别收据图片，结合商家经营性质（Vendor Nature）分析消费内容，并根据以下‘分类字典’和‘业务逻辑’返回 JSON 数据。\n1. 分类字典 (Category > Sub-category) 请严格按此层级归类，不得自行发明：\n•\tFixed expenses: [Maintenance fee, Mobile plan, Subscription, Utilities, Parking lot, Internet, Life insurance, Rental, Household, Housing Loan]\n•\tF&B: [Meals, Groceries, Drinks, Dessert]\n•\tTransport: [Fuel, Public transport, Toll, Parking, Maintenance, Road tax, Vehicle license]\n•\tDaily Needs: [Toiletries, Personal care, Pharmacy]\n•\tLifestyle: [Image care, clothing]\n•\tShopping: [General Merchandise] \n•\tEntertainment: [Movies, Gaming, Leisure, KTV]\n•\tHealth & Wellness: [Gym, Supplements, Sports, Wellness]\n•\tLearning: [Courses, Books, Software]\n•\tTravel: [Transport, Meals, Accommodation, Entertainment, Ticket, Souvenir, Shopping]\n•\tSocial giving: [Gifts, Angpau, Donation, Other]\n•\tContingencies: [Fine, Late fee]\n•\tOther\n2. 字段提取与校准规则\n•\tDate: 格式为 YYYY-MM-DD。若收据无年份，默认使用目前年份。\n•\tVendor: 商家店名，首字母大写。\n•\tCur_Out: 币种缩写，默认为 MYR。\n•\tAmt_Out: 必须为纯数字 (Number)。提取最终应付总额（Total Payable），排除 Rounding。\n•\tType: 固定输出为 \"Expense\"。\n3. 分类判定逻辑 (优先顺序)\n•\t判定综合性商家 (Weight-based Logic)： 若商家为 Lotus's, AEON, 99 Speedmart, Big Pharmacy, Watsons, Guardian 等：\no\t权重优先： 识别清单中数量最多的项目类型进行归类。\no\t示例： 买 Chicken, Broccoli (Groceries) 加一个 Shampoo (Toiletries) -> 归类为 F&B > Groceries。\no\t示例： 买 Tissue, Detergent (Daily Needs) 加几样零食 -> 归类为 Daily Needs > Toiletries。\n•\t判定行业属性与语境：\no\t神料/佛具店： 归类为 Social Giving > Other。\no\t药妆店 (Watsons/Pharmacy)： 优先检查明细。若护肤品居多归类为 Daily Needs > Personal care；若补剂居多归类为 Health & Wellness > Supplements；若药品居多归类为 Daily Needs > Pharmacy。\n•\t判定 F&B： 熟食/正餐归类为 Meals；生鲜/食材归类为 Groceries；仅有饮料/甜点归类为 Drinks 或 Dessert。\n•\t判定Lifestyle: salon, aesthetic, facial, manicure, pedicure\n•\t判定 Shopping: soft toy, keychain\n4. 深度备注逻辑 (Remark)\n•\t语境校准： 备注必须符合商家经营性质，严禁机械直译。\no\t神料店： Paper/Apparel/Shoes 统一备注为“购买了祭祀用品组合（含纸扎衣物、冥钞及祭品）”。\n•\t合并同类项： 多项物品用“购买了...”概括，禁止重复罗列（如：严禁写“鸡、鸡、葱”，应写“鱼、肉及生鲜食材”）。\n•\t餐饮： 描述主要菜品。\n5. 纯净输出要求 格式：只输出合法的 JSON 字符串，禁止包含 ```json 标签，禁止 Markdown，禁止解释文字。 { \"Date\": \"YYYY-MM-DD\", \"Vendor\": \"String\", \"Cur_Out\": \"MYR\", \"Amt_Out\": 0.00, \"Type\": \"Expense\", \"Category\": \"String\", \"Sub_category\": \"String\", \"Remark\": \"String\" }",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        976,
        -480
      ],
      "id": "bcb5e28f-9b9f-4647-92c8-fae042642293",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "wj6EgVVVIJTOl5cL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $now.format('yyyyMMdd_HHmm') }}_{{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "0B580uMwAE6vvd1J1V3cxdFpscm8",
          "mode": "list",
          "cachedResultName": "money",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0B580uMwAE6vvd1J1V3cxdFpscm8?resourcekey=0-Q0hK6yOp8j4sJemZTXfa1A"
        },
        "options": {
          "simplifyOutput": false
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        -576
      ],
      "id": "79b85f31-d3ce-4a53-8026-5d1b9d23daf4",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YV9Vzh5F4PKDqzR6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst ext = item.binary.data.fileName?.split('.').pop()?.toLowerCase();\n\nconst mimeMap = {\n  jpg: 'image/jpeg',\n  jpeg: 'image/jpeg',\n  png: 'image/png',\n  webp: 'image/webp',\n  pdf: 'application/pdf',\n};\n\nitem.binary.data.mimeType = mimeMap[ext] || item.binary.data.mimeType;\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -672
      ],
      "id": "337d38a6-b1f8-432e-b36f-0008ecff2097",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst ext = item.binary.data.fileName?.split('.').pop()?.toLowerCase();\n\nconst mimeMap = {\n  jpg: 'image/jpeg',\n  jpeg: 'image/jpeg',\n  png: 'image/png',\n  webp: 'image/webp',\n  pdf: 'application/pdf',\n};\n\nitem.binary.data.mimeType = mimeMap[ext] || item.binary.data.mimeType;\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -480
      ],
      "id": "3ecb2663-ef71-47a4-9ef4-b555d790ae2e",
      "name": "Code in JavaScript3"
    }
  ],
  "pinData": {},
  "connections": {
    "Get a file": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send message if receive a message": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "send message if receive a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timezone": "Asia/Kuala_Lumpur",
    "saveDataErrorExecution": "none",
    "saveDataSuccessExecution": "none"
  },
  "versionId": "c65d8d3a-5ae5-4ecc-9f05-b5143bbf265f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48813802c2d07ec8229f81e2cb70da7b102bc7da8010681612fdf38e8e8b781f"
  },
  "id": "wUJlhGlPyqjy6rW6",
  "tags": []
}